  <% @posts.each_with_index do |post, i| %>
  <% break if i == @posts_per_page %>
  <section>
    <h3>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    </h3>
    <h4>
      <%= post.username%>
    </h4>
    <h5>
      <%= post.timestamp %>
    </h5>
    <article>
      <%== render_md(post.content) %>
    </article>
  </section>
<% end %>

<% unless @page == 0 %>
<a href="/page/<%=@page-1%>">Previous Page</a>
<% end %>
<% unless @last_page_bool %>
<a href="/page/<%=@page+1%>">Next Page</a>
<% end %>
<% if signed_in? %>
  <form class="inline" action="/users/signout" method="post" >
    <p class="user-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
  <p><a href="/posts/new">New Post</a></p>
<% else %>
  <form class="inline" action="/users/signin" method="get" >
    <button type="submit">Sign In</button>
  </form>
  <form class="inline" action="/users/signup" method="get" >
    <button type="submit">Sign Up</button>
  </form>
<% end %>