<ul>
  <% @posts.each do |post| %>
    <div>
      <h3>
        <%= post.title %>
      </h3>
      <h4>
        <%= post.username%>
      </h4>
      <h5>
        <%= post.timestamp %>
      </h5>
      <br>
      <%== render_md(post.content) %>
    </div>
  </li>
<% end %>
</ul>
<% if signed_in? %>
  <form class="inline" action="/users/signout" method="post" >
    <p class="user-status">
      Signed in as <%= session[:username] %>.
      <button type="submit">Sign Out</button>
    </p>
  </form>
  <p><a href="/posts/new">New Post</a></p>
<% else %>
  <form class="inline" action="/users/signin" method="get" >
    <button type="submit">Sign In</button>
  </form>
  <form class="inline" action="/users/signup" method="get" >
    <button type="submit">Sign Up</button>
  </form>
<% end %>